html{
    background-color: #F8EDED;
}
body {
    padding: 1em;
}

h1 {
    color: #B43F3F;
    text-align: center;
}

#tcont {
    background-color: #daeaef;
    padding: 1em;
    border-radius: 20px;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    color: #FF8225;
}

a {
    color: #173B45;
}

p {
    text-align: justify;
}

ul {
    list-style: square;
}

@media (min-width: 800px){
    #central {
        width: 50%;
        position: relative;
        left: 25%;
    }
    #contextual{
        width: 20%;
        position: absolute;
        right: 2%;
        top: 20%;
    }

    table {
        width: 100%;
    }
}