html{
    background-color: #F8EDED;
}
body {
    padding: 1em;
}

h1 {
    color: #B43F3F;
    text-align: center;
}

#tcont {
    background-color: #c4e1e9;
    padding: 1em;
    border-radius: 20px;
}

h3 {
    color: #FF8225;
}

a {
    color: #173B45;
}

p {
    text-align: justify;
}